{% extends "base.html" %}

{% block content %}


<h1>{{ Title }}</h1>
<ul class="main">
    <div>
        <p>1. Ну что, <b>доигрался</b>?! Эх, надоела такая жизнь!</p>
        <p>2. У чёрных есть определённая <b>контригра</b> на ферзевом фланге.</p>
        <p>3. Раздражали меня пуще всего эти <b>безымянные</b> письма.</p>
        <p>4. Но стоит мне на пару дней отлучиться, как тут происходит что-то <b>сверхинтересное</b>.</p>
        <p>5. На самом деле ничего <b>суперинтересного</b> внутри не обнаружилось.</p>
        <p>6. Нужно раз испытать жизнь в её <b>небезыскусственной</b> красоте.</p>
        <p>7. Пора уж <b>подытожить</b>.</p>

        <li>
            <a href="/confuse" class="active">Правописание "Ы" и "И"</a>
        </li>
        <li>
            <a href="/" class="active"> Главная страница</a>
        </li>
    </div>
</ul>
{% endblock %}