{% extends "base.html" %}

{% block content %}
<h1 align="center">{{ Title }}</h1>
<ul class="main">
<p>Как говориться: как произносишь, так и пиши. Но всегда надо знать правило и исключения.</p>
<div>
    <h2>Ы пишется в случае если</h2>
    <p>В корне слова буква заменяется на после русских приставок, оканчивающихся на согласную: искать — разыскать, играть — подыграть.</p>

    <h2>И пишется в случае если</h2>
    <p>После приставок, оканчивающихся на гласную, пишется: поиграть, происходить.</p>
    <p>После приставок МЕЖ- и СВЕРХ-: межинститутский, сверхинтересный.</p>
    <p>После иноязычных приставок и частиц:  дезинфекция, контригра.</p>
</div>

</ul>
{% endblock %}