{% extends "base.html" %}

{% block content %}
<h1>{{ Title }}</h1>
    <div>
        <ul>

              <a href="/"> Главная страница</a>

    <p>1. Ну что, до(и, ы)грался?! Эх, надоела такая жизнь!</p>
    <p>2. У чёрных есть определённая контр(и, ы)гра на ферзевом фланге.</p>
    <p>3. Раздражали меня пуще всего эти без(и, ы)мянные письма.</p>
    <p>4. Но стоит мне на пару дней отлучиться, как тут происходит что-то сверх(и, ы)нтересное.</p>
    <p>5. На самом деле ничего супер(и, ы)нтересного внутри не обнаружилось.</p>
    <p>6. Нужно испытать жизнь в её небез(ы, и)скусственной красоте.</p>
    <p>7. Пора уж под(и, ы)тожить.</p>

              <a href="/confuse2" class="active">Правильные ответы</a>

        </ul>
    </div>
{% endblock %}