{% extends "base.html" %}




{% block content %}
<h1>{{ Title }}</h1>
<ul class="main">
    <div>

        <p>1. Коротков не расслышал, хотя и <b>припадал</b> ухом к замочной скважине.</p>
        <p>2. Даша с трудом влезла на печь, <b>прикрылась</b> пальто, подобрала ноги.</p>
        <p>3. <b>Преодолевая</b> головную боль, он весь собрался для последней схватки. </p>
        <p>4. Этот Кузьма Кузьмич ещё в вагоне <b>присматривался</b> к Даше — чем-то она ему <b>пришлась</b> по вкусу.</p>
        <p>6. Вместо подсолнухов, <b>приманивающих</b> солнце в маленькие окошки хат, торчат одни гнилые стебли.  </p>
        <p>7. В это мгновение лодка <b>причалила</b>.</p>
        <p>8. Мама <b>приоткрыла</b> дверь, чтобы не разбудить ребенка.</p>
        <p>9. Старый друг <b>пришел</b> на помощь в трудную минуту.</p>

        <li>
            <a href="/contacts" class="active">Слова с приставкой ПРИ и ПРЕ</a>
        </li>
        <li>
            <a href="/" class="active"> Главная страница</a>
        </li>
    </div>
</ul>
{% endblock %}