{% extends "base.html" %}

{% block content %}
<h1>{{ Title }}</h1>
    <div>
        <ul>

              <a href="/"> Главная страница</a>

    <p>1. Коротков не расслышал, хотя и пр(е, и)падал ухом к замочной скважине.</p>
    <p>2. Даша с трудом влезла на печь, пр(е, и)крылась пальто, подобрала ноги.</p>
    <p>3. Пр(е, и)одолевая головную боль, он весь собрался для последней схватки. </p>
    <p>4. Этот Кузьма Кузьмич ещё в вагоне пр(е, и)сматривался к Даше — чем-то она ему пр(е, и)шлась по вкусу.</p>
    <p>6. Вместо подсолнухов, пранивающих солнце в маленькие окошки хат, торчат одни гнилые стебли.  </p>
    <p>7. В это мгновение лодка прчалила.</p>
    <p>8. Мама пр(е, и)открыла дверь, чтобы не разбудить ребенка.</p>
    <p>9. Старый друг пр(е, и)шел на помощь в трудную минуту.</p>
              <a href="/contacts2" class="active">Правильные ответы</a>

        </ul>
    </div>
{% endblock %}
