{% extends "base.html" %}

{% block content %}
<h1 align="center">{{ Title }}</h1>
<ul class="main">
<p>Не знаешь как правильно писать? Вот тебе подсказка, читай и запоминай.</p>
<div>
    <h2>Приставка ПРЕ-</h2>
    <p>Значение «очень»: прекрасный (очень красивый), превысокий (очень высокий).</p>
    <p>Значение «пере-»: преградить (перегородить), преступник (переступить).</p>

    <h2>Приставка ПРИ-</h2>
    <p>Приближение, присоединение: прийти, пришить, присоединить.</p>
    <p>Неполнота действия (немного): приоткрыть, прилечь, присесть.</p>
    <p>Близость к чему-либо (рядом): приморский, пришкольный.</p>
    <p>Доведение действия до конца: придумать, приучить.</p>

</div>

</ul>


{% endblock %}