{% extends "base.html" %}

{% block content %}
<h1 align="center">{{ Title }}</h1>
<ul class="list">
<p>Вижу ты уже опытный. Ну давай посмотрим на тебя. Решай и делись результатами со мной или расскажи как улучшить сайт.</p>
    <div class="list-wraper">
        <ul class="list">
            <li class="item">
                <div class="card2">
                    <h3 align="center">Слова с суфиксом "Н" и "НН"</h3>
                    <img src="" alt="">
                    <a class="Elya active" href="/page">Упражнение по правилу</a>
                </div>

            </li>
            <li class="item">
                <div class="card2">
                    <h3 align="center">Слова с приставкой "ПРИ" и "ПРЕ" </h3>
                    <img scr="" alt="">
                    <a class="Elya active" href="/contacts">Упражнение по правилу</a>
                </div>
            </li>

            <li class="item">
                <div class="card2">
                    <h3 align="center">Правописание "Ы" и "И" после приставки</h3>
                    <img scr="" alt="">
                    <a class="Elya active" href="/confuse">Упражнение по правилу</a>
                </div>
        </ul>
    </div>
</ul>
{% endblock %}