{% extends "base.html" %}

{% block content %}
<h1 align="center">{{ Title }}</h1>
<ul class="list">
<p>Здесь вы можете посмотреть какие правила есть в русском языке, понять как правильно писать в определенных случаях.
            Пока есть некоторые правила, но со временем их будет все больше.</p>
    <div class="list-wraper">
        <ul class="list">
            <li class="item">
                <div class="card2">
                    <h3 align="center">Правила с суфиксом "Н" и "НН"</h3>
                    <img src="" alt="">
                    <a class="Elya active" href="/page3">Основные правила</a>
                </div>

            </li>
            <li class="item">
                <div class="card2">
                    <h3 align="center">Правила с приставкой "ПРИ" и "ПРЕ" </h3>
                    <img scr="" alt="">
                    <a class="Elya active" href="/contacts3">Основные правила</a>
                </div>
            </li>

            <li class="item">
                <div class="card2">
                    <h3 align="center">Правила по правописанию "Ы" и "И" после приставки</h3>
                    <img scr="" alt="">
                    <a class="Elya active" href="/confuse3  ">Основные правила</a>
                </div>
        </ul>
    </div>
</ul>
{% endblock %}