{% extends "base.html" %}

{% block content %}
<h1 align="center">{{ Title }}</h1>
<ul class="main">
<p>Чтобы правильно писать Н и НН в разных частях речи, необходимо учитывать его морфологические признаки.</p>

<div>
    <h2>Отглагольные прилагательные и причастия.</h2>
    <li>
        <h4>НН:</h4>
    </li>
        <p>Есть приставка (кроме не-, незваный) > прочитанная книга.</p>
        <p>Есть зависимые слова > крашенный дядей забор.</p>
        <p>Образовано от глагола совершенного вида (что сделать?) > решенный пример.</p>
        <p>Слова на -ованный/-еванный > рискованный, маринованный (искл.: кованый, жеваный).</p>

    <hr>
    <li>
        <h4>Н:</h4>
    </li>
    <p>Образовано от глагола несовершенного вида (что делать?) > жареный картофель.</p>
    <p>Нет приставок и зависимых слов > груженый состав</p>

    <hr>
    <h2>В прилагательных (от существительных)</h2>
    <li>
        <h4>НН:</h4>
    </li>
    <p>Образуются с помощью суффикса -н- от основ на -н > осень + н = осенний (Примечание: Ветреный (но безветренный))</p>
    <p>В суффиксах -онн-, -енн- > традиционный, соломенный (Искл.: деревянный, оловянный, стеклянный).</p>
    <li>
        <h4>Н:</h4>
    </li>
    <p>В остальных случаях пишется 1 буква Н.</p>

    <hr>
    <h2>В наречиях</h2>

    <p>Пишется столько Н, сколько в полной форме > Искусственный — искусственно. Взволнованный — взволнованна (краткое причастие).</p>


    <li>
        <a href="/page" class="active">Правописание "Н" и "НН"</a>
    </li>
    <li>
        <a href="/" class="active"> Главная страница</a>
    </li>

</div>


</ul>
{% endblock %}