{% extends "base.html" %}

{% block content %}
<h1>{{ Title }}</h1>
<ul class="main">
    <div>

        <p>1. Одно из самых известных <b>каменных</b> сооружений, Стоунхендж, было построено более четырёх тысяч лет назад.</p>
        <p>2. Больше всего я не люблю <b>ветреную</b> и бесснежную зиму, похожую на <b>осенний</b> ноябрь.</p>
        <p>3. Взгляд её был <b>устремлено</b> в окно.</p>
        <p>4. В детстве, когда дедушка брал меня с собой на <b>утреннюю</b> охоту, я не раз видел <b>звериные</b> следы и научился их различать.</p>
        <p>5. <b>Подкрашенная</b> стена выглядела свежо.</p>
        <p>6. <b>Туманно</b> и неопределенно</b> звучали его обещания.</p>
        <p>7. Есть мнение, что <b>стеклянные</b> перегородки устанавливают в офисах для повышения работоспособности.</p>
        <p>8. <b>Закованный</b> в броню рыцарь двигался медленно.</p>
        <p>9. Миша постоянно говорил, что татуировки очень <b>болезненны</b>, но брат его не слушал.</p>
        <p>10. Каждая статья этого журналиста <b>сенсационна</b>, каждое разоблачение — шокирующе, каждое слово — остро.</p>
        <p>11. В доме Лены всегда пахло свежим хлебом, <b>клюквенным</b> джемом и <b>травяным</b> чаем с чабрецом, которыми она угощала гостей.</p>
        <p>12. <b>Бешено</b> мчался конь, <b>испуганный</b> выстрелом.</p>
        <p>13. Выступление прошло <b>организованно.</b></p>

        <li>
        <a href="/page" class="active">Правописание "Н" и "НН"</a>
        </li>
        <li>
        <a href="/" class="active"> Главная страница</a>
        </li>
    </div>
</ul>
{% endblock %}