{% extends "base.html" %}

{% block content %}
<h1>{{ Title }}</h1>
    <div>
        <ul>



    <p>1. Одно из самых известных каме(нн, н)ых сооружений, Стоунхендж, было построено более четырёх тысяч лет назад.</p>
    <p>2. Больше всего я не люблю ветре(нн, н)ую и бесснежную зиму, похожую на осе(нн, н)ий ноябрь.</p>
    <p>3. Взгляд её был устремле(нн, н)о в окно.</p>
    <p>4. В детстве, когда дедушка брал меня с собой на утре(нн, н)юю охоту, я не раз видел звери(нн, н)ые следы и научился их различать.</p>
    <p>5. Подкраше(нн, н)ая стена выглядела свежо.</p>
    <p>6. Тума(нн, н)о и неопределе(нн, н)о звучали его обещания.</p>
    <p>7. Есть мнение, что стекля(нн, н)ые перегородки устанавливают в офисах для повышения работоспособности.</p>
    <p>8. Закова(нн, н)ый в броню рыцарь двигался медленно.</p>
    <p>9. Миша постоянно говорил, что татуировки очень болезне(нн, н)ы, но брат его не слушал.</p>
    <p>10. Каждая статья этого журналиста сенсацио(нн, н)а, каждое разоблачение — шокирующе, каждое слово — остро.</p>
    <p>11. В доме Лены всегда пахло свежим хлебом, клюкве(нн, н)ым джемом и травя(нн, н)ым чаем с чабрецом, которыми она угощала гостей.</p>
    <p>12. Беше(нн, н)о мчался конь, испуга(нн, н)ый выстрелом.</p>
    <p>13. Выступление прошло организова(нн, н)о.</p>


            <li>
            <a href="/page2" class="active">Правильные ответы</a>
            </li>
            <li>
            <a href="/" class="active"> Главная страница</a>
            </li>

        </ul>
    </div>
</body>
</html>
{% endblock %}