{% extends "base.html" %}

{% block content %}
<h1 align="center">{{ Title }}</h1>
    <ul class="main">
        <h3>О сайте.</h3>
        <p>Онлайн-платформа для изучения и закрепления правил русского языка.
        Здесь можно изучать орфографию, пунктуацию, грамматику и правописание через теорию и </p>
        <h4>Для чего нужен сайт.</h4>
        <p>Наш сайт предлагает понятные объяснения правил, интерактивные упражнения, решения
        с разбором ошибок и списки типовых ошибок. И для подготовки к экзаменам.</p>
        <h4>С чего начать новичку</h4>
        <p>Начните с раздела "Правила орфографии" и пройдите мини-тест по пройденной теме.</p>
    </ul>

<div class="list-wraper" style="width: 1000px;">
        <ul class="list">
            <li class="item">
                <div class="card2">
                    <h3 align="center">Правила орфографии</h3>
                    <img src="" alt="">
                    <a class="Elya active" href="/index2">Правила русского языка</a>
                </div>

            </li>
            <li class="item">
                <div class="card2">
                    <h3 align="center">Упражнения по правилам </h3>
                    <img scr="" alt="">
                    <a class="Elya active" href="/index">Упражнение по правилам</a>
                </div>
            </li>
        </ul>
</div>
{% endblock %}